extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project

    //- Error Message
    h1= err.message
    //- Error Status
    p.lead.text-light= `Status: ${err.status}`
    //- Error Stack
    .portfolio-bio
      p= err.stack

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  